.single-cartProduct-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cartproduct-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

.single-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px !important;
}

.move-to-checkout-btn{
    background-color: #f0a54e !important;
    color: #000 !important;
    width: 100%;
}

.move-to-checkout-btn:hover {
    background-color: #ffa74391 !important;
}

.bottom-cart-container {
    width: 100%;
}