.error-404 {
    position: absolute;
    top: 43%;
    left: calc(50% - 150px);
    font-size: 80px;
    color: #63646a;
    font-family: monospace;
    font-weight: bold;
}

.page404-bg {
    background-image: url('../../../public/images/banners/Page404.jpg') !important;
    background-position: center center;
    width: 100% !important;
    height: 94.5% !important;
    position: absolute;
    top: 50px;
}