.header-logo::after {
    content: "ㅤ";
    background-image: url('../../public/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 32px;
    z-index: 1;
}

.logo-wrapper{
    padding-left: 2% !important;
}

.header-logo-text{
    padding-left: 10px;
    color: rgb(0, 0, 0);
}

.nav-list{ 
    margin-left: auto;
    list-style: none;
}

.nav-list > li{ 
    display: inline-block;
    margin: 0 15px;
}

.nav-list > li > a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 18px;
}

.link-active:hover {
    color: rgba(0, 0, 0, 0.6) !important;
}

.link-active {
    color: rgb(0, 0, 0) !important;
}

.header-btns-wrapper > a {
    padding: 10px;
}

.header-logo-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 40px;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    /* z-index: 1400; */
}
