.cartProduct-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.cartProduct-image{
    width: 100px;
    min-height: 80px;
    max-height: 100px;
    /* background-size: auto; */
}

.cartProduct-container > span { 
    font-size: 16px;
    max-width: 60px;
    min-width: 60px;
    margin: 0 10px;
}


.cartProduct-quantity-container{
    display: flex;
    flex-direction: column;
    width: 45px;
    align-items: center;
}

.cartProduct-quantity-container > span{
    width: 10px !important;
}
