.checkout-banner {
    background-image: url('../../../public//images/banners/checkout-banner.jpg');
    background-repeat: no-repeat;
    width: 60vw;
    height: calc(100vh - 45px);
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.checkout-form-wrapper { 
    width: 40vw;
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.checkout-container{
    display: flex;
}

.checkout-item-container{
    color: #fff;
}

.receipt-checkbox{
    color: #000 !important;
}

.receipt-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.receipt-wrapper > input { 
    margin-right: 5px;
}

.checkout-subtotal{
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 32px !important;
    color: #fff;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 75%;
}

.order-form-container{
    width: 50%;
    height: 60%;
    background-color: #eeb25d !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.order-form > button {
    background-color: #e36947 !important;
}